$index: calc(1vw + 1vh);

.show-slides {
   display: flex;
   align-items: center;
   button {
      width: calc($index * 2);
      &:nth-child(3){margin: 0 $index;}
   }
   span {
      &:nth-child(1){
         margin: auto calc($index / 2) auto 0;
      }
      font-size: $index;
      // margin: auto calc($index / 1.5);
   }
}